@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";
.regular_font {
    font-family: "Sora", sans-serif;
}
.active {
    background-color: #9538E2;
    color: white;
}